
    <div class="col-xl-4">
        <div class="card" routerLink="{{0}}">
            <div class="bg"></div>
            <div class="blob"></div>
            <p class="title">Panini/Piadine</p>
        </div>
        </div>
    
    <div class="col-xl-4">
    <div class="card" routerLink="{{1}}">
        
        <div class="bg"></div>
        <div class="blob"></div>
        <p class="title">Hamburger</p>
    </div>
    </div>


        <div class="col-xl-4">
            <div class="card" routerLink="{{2}}">
                <div class="bg"></div>
                <div class="blob"></div>
                <p class="title">Bevande</p>
            </div>
            </div>
        
        <div class="col-xl-4">
        <div class="card" routerLink="{{3}}">
            
            <div class="bg"></div>
            <div class="blob"></div>
            <p class="title">Birre</p>
        </div>
        </div>
        <div class="col-xl-4">
            <div class="card" routerLink="{{4}}">
                <div class="bg"></div>
                <div class="blob"></div>
                <p class="title">Amari e Digestivi</p>
            </div>
            </div>
        

